<a href="https://colab.research.google.com/github/VendedeTudo/App/blob/main/06_Criar_Series_e_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
lista_nome = ['Maria', 'José', 'Ana', 'Paulo']
serie_nome = pd.Series(lista_nome)

In [ ]:
df_nome = pd.DataFrame(lista_nome, columns=['Pessoa'])
df_nome

  Pessoa
0  Maria
1   José
2    Ana
3  Paulo

In [ ]:
serie_nome

0    Maria
1     José
2      Ana
3    Paulo
dtype: object

In [ ]:
lista_idade = [25, 56, 31, 43]
serie_idade = pd.Series(lista_idade)
type(serie_idade)

pandas.core.series.Series

In [ ]:
df_pessoa = pd.concat([serie_nome,serie_idade], axis=1)
df_pessoa

       0   1
0  Maria  25
1   José  56
2    Ana  31
3  Paulo  43

In [ ]:
df_pessoa.describe()

               1
count   4.000000
mean   38.750000
std    13.720423
min    25.000000
25%    29.500000
50%    37.000000
75%    46.250000
max    56.000000