<a href="https://colab.research.google.com/github/VendedeTudo/App/blob/main/07_Manipulando_dados_das_DFPs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9675 sha256=f047f98718b61110f007b913af9a966b7d04140f80f11b0b328ab24be19ab300
  Stored in directory: /root/.cache/pip/wheels/a1/b6/7c/0e63e34eb06634181c63adacca38b79ff8f35c37e3c13e3c02
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [ ]:
import pandas as pd
import wget
from zipfile import ZipFile
import os

# Definir a quantidade de linhas e colunas apresentadas no DF
pd.set_option("display.max_rows", 500)
pd.set_option('display.max_columns', 500)

# Definir formatação do float
pd.set_option('float_format','{:,.2f}'.format)

import warnings
warnings.filterwarnings('ignore')

# Download das DFPs

In [ ]:
url_dfp = 'http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2021.zip'
pasta_drive = '/content/drive/MyDrive/MiniCurso - Python/Pratica/Aula 03 - Pandas'

wget.download(url_dfp, out=pasta_drive)

'/content/drive/MyDrive/MiniCurso - Python/Pratica/Aula 03 - Pandas/dfp_cia_aberta_2021.zip'

# Descompatar o arquivo baixando na pasta /dfp

In [ ]:
ZipFile(pasta_drive+'/dfp_cia_aberta_2021.zip').extractall(pasta_drive+'/dfp')

# Abrir Arquivos

In [ ]:
bpa_2021 = pd.read_csv(pasta_drive+'/dfp/dfp_cia_aberta_BPA_con_2021.csv', sep=';', encoding='ISO-8859-9', decimal=',')

In [ ]:
bpa_2021.head(5)

,CNPJ_CIA,DT_REFER,VERSAO,DENOM_CIA,CD_CVM,GRUPO_DFP,MOEDA,ESCALA_MOEDA,ORDEM_EXERC,DT_FIM_EXERC,CD_CONTA,DS_CONTA,VL_CONTA,ST_CONTA_FIXA
0,00.000.000/0001-91,2021-12-31,2,BCO BRASIL S.A.,1023,DF Consolidado - Balanço Patrimonial Ativo,REAL,MIL,PENÚLTIMO,2020-12-31,1,Ativo Total,1693794003.0000000000,S
1,00.000.000/0001-91,2021-12-31,2,BCO BRASIL S.A.,1023,DF Consolidado - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2021-12-31,1,Ativo Total,1899340511.0000000000,S
2,00.000.000/0001-91,2021-12-31,2,BCO BRASIL S.A.,1023,DF Consolidado - Balanço Patrimonial Ativo,REAL,MIL,PENÚLTIMO,2020-12-31,1.01,Caixa e Equivalentes de Caixa,176189508.0000000000,S
3,00.000.000/0001-91,2021-12-31,2,BCO BRASIL S.A.,1023,DF Consolidado - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2021-12-31,1.01,Caixa e Equivalentes de Caixa,54494681.0000000000,S
4,00.000.000/0001-91,2021-12-31,2,BCO BRASIL S.A.,1023,DF Consolidado - Balanço Patrimonial Ativo,REAL,MIL,PENÚLTIMO,2020-12-31,1.01.01,Caixa,16784560.0000000000,S

In [ ]:
bpa_2021 = bpa_2021[bpa_2021['ORDEM_EXERC'].isin(['ÚLTIMO'])]

In [ ]:
bpa_2021

,CNPJ_CIA,DT_REFER,VERSAO,DENOM_CIA,CD_CVM,GRUPO_DFP,MOEDA,ESCALA_MOEDA,ORDEM_EXERC,DT_FIM_EXERC,CD_CONTA,DS_CONTA,VL_CONTA,ST_CONTA_FIXA
1,00.000.000/0001-91,2021-12-31,2,BCO BRASIL S.A.,1023,DF Consolidado - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2021-12-31,1,Ativo Total,1899340511.0000000000,S
3,00.000.000/0001-91,2021-12-31,2,BCO BRASIL S.A.,1023,DF Consolidado - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2021-12-31,1.01,Caixa e Equivalentes de Caixa,54494681.0000000000,S
5,00.000.000/0001-91,2021-12-31,2,BCO BRASIL S.A.,1023,DF Consolidado - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2021-12-31,1.01.01,Caixa,18023001.0000000000,S
7,00.000.000/0001-91,2021-12-31,2,BCO BRASIL S.A.,1023,DF Consolidado - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2021-12-31,1.01.02,Aplicações de Liquidez,36471680.0000000000,S
9,00.000.000/0001-91,2021-12-31,2,BCO BRASIL S.A.,1023,DF Consolidado - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2021-12-31,1.02,Ativos Financeiros,1700800619.0000000000,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57299,97.837.181/0001-47,2021-12-31,1,DEXCO S.A.,21091,DF Consolidado - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2021-12-31,1.02.04.02.07,Goodwill na aquisição da Caetex Florestal,8767.0000000000,N
57301,97.837.181/0001-47,2021-12-31,1,DEXCO S.A.,21091,DF Consolidado - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2021-12-31,1.02.04.02.08,Goodwill na aquisição da Cerâmica Urussanga em...,92944.0000000000,N
57303,97.837.181/0001-47,2021-12-31,1,DEXCO S.A.,21091,DF Consolidado - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2021-12-31,1.02.04.02.09,Goodwill na aquisição da Massima Revestimentos...,6110.0000000000,N
57305,97.837.181/0001-47,2021-12-31,1,DEXCO S.A.,21091,DF Consolidado - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2021-12-31,1.02.04.02.10,Goodwill na aquisição da Cecrisa Revestimentos...,168430.0000000000,N
57307,97.837.181/0001-47,2021-12-31,1,DEXCO S.A.,21091,DF Consolidado - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2021-12-31,1.02.04.02.11,Goodwill Viva Decora,0.0000000000,N

# Selecionar apenas as informações do último ano

In [ ]:
bpa_2021.columns

Index(['CNPJ_CIA', 'DT_REFER', 'VERSAO', 'DENOM_CIA', 'CD_CVM', 'GRUPO_DFP',
       'MOEDA', 'ESCALA_MOEDA', 'ORDEM_EXERC', 'DT_FIM_EXERC', 'CD_CONTA',
       'DS_CONTA', 'VL_CONTA', 'ST_CONTA_FIXA'],
      dtype='object')

# Selecionar colunas

In [ ]:
bpa_2021 = bpa_2021[['CNPJ_CIA','DT_REFER','DENOM_CIA','CD_CONTA','DS_CONTA','VL_CONTA']]

# Selecionar valores específicos

df.at['linha','coluna']

df.loc[linha][coluna]

df['coluna']['linha]

In [ ]:
bpa_2021.head()

,CNPJ_CIA,DT_REFER,DENOM_CIA,CD_CONTA,DS_CONTA,VL_CONTA
1,00.000.000/0001-91,2021-12-31,BCO BRASIL S.A.,1,Ativo Total,"1,899,340,511.00"
3,00.000.000/0001-91,2021-12-31,BCO BRASIL S.A.,1.01,Caixa e Equivalentes de Caixa,"54,494,681.00"
5,00.000.000/0001-91,2021-12-31,BCO BRASIL S.A.,1.01.01,Caixa,"18,023,001.00"
7,00.000.000/0001-91,2021-12-31,BCO BRASIL S.A.,1.01.02,Aplicações de Liquidez,"36,471,680.00"
9,00.000.000/0001-91,2021-12-31,BCO BRASIL S.A.,1.02,Ativos Financeiros,"1,700,800,619.00"

In [ ]:
bpa_2021.loc[1,'CD_CONTA']

'1'

In [ ]:
bpa_2021['VL_CONTA'][1]

1899340511.0

# Selecionar linhas específicas

df.loc[[nome_index]]

df[index_inicio:index_fim]

In [ ]:
bpa_2021['VL_CONTA'] = pd.to_numeric(bpa_2021['VL_CONTA'])

In [ ]:
bpa_2021.head()

,CNPJ_CIA,DT_REFER,DENOM_CIA,CD_CONTA,DS_CONTA,VL_CONTA
1,00.000.000/0001-91,2021-12-31,BCO BRASIL S.A.,1,Ativo Total,"1,899,340,511.00"
3,00.000.000/0001-91,2021-12-31,BCO BRASIL S.A.,1.01,Caixa e Equivalentes de Caixa,"54,494,681.00"
5,00.000.000/0001-91,2021-12-31,BCO BRASIL S.A.,1.01.01,Caixa,"18,023,001.00"
7,00.000.000/0001-91,2021-12-31,BCO BRASIL S.A.,1.01.02,Aplicações de Liquidez,"36,471,680.00"
9,00.000.000/0001-91,2021-12-31,BCO BRASIL S.A.,1.02,Ativos Financeiros,"1,700,800,619.00"

# Editar dados

df.loc[linha][coluna] = novo_valor

In [ ]:
bpa_2021.head()

,CNPJ_CIA,DT_REFER,DENOM_CIA,CD_CONTA,DS_CONTA,VL_CONTA,1
1,Y,Y,Y,Y,Y,Y,Y
3,00.000.000/0001-91,2021-12-31,BCO BRASIL S.A.,1.01,X,1000,Y
5,00.000.000/0001-91,2021-12-31,BCO BRASIL S.A.,1.01.01,X,10,Y
7,00.000.000/0001-91,2021-12-31,BCO BRASIL S.A.,1.01.02,X,"36,471,680.00",Y
9,00.000.000/0001-91,2021-12-31,BCO BRASIL S.A.,1.02,X,"1,700,800,619.00",Y

In [ ]:
bpa_2021.loc[5]['VL_CONTA'] = '10'

In [ ]:
bpa_2021['DS_CONTA'] = 'X'

df[coluna] = novo_valor

df.loc[linha] = novo_valor

In [ ]:
bpa_2021.loc[1] = 'Y'

#Filtrar conteúdo

In [ ]:
bpa_2021[bpa_2021['DENOM_CIA'].str.contains('Petrobras', case=False)].head()

,CNPJ_CIA,DT_REFER,DENOM_CIA,CD_CONTA,DS_CONTA,VL_CONTA
35065,33.000.167/0001-01,2021-12-31,PETROLEO BRASILEIRO S.A. PETROBRAS,1,Ativo Total,"972,951,000.00"
35067,33.000.167/0001-01,2021-12-31,PETROLEO BRASILEIRO S.A. PETROBRAS,1.01,Ativo Circulante,"168,247,000.00"
35069,33.000.167/0001-01,2021-12-31,PETROLEO BRASILEIRO S.A. PETROBRAS,1.01.01,Caixa e Equivalentes de Caixa,"58,410,000.00"
35071,33.000.167/0001-01,2021-12-31,PETROLEO BRASILEIRO S.A. PETROBRAS,1.01.02,Aplicações Financeiras,"3,630,000.00"
35073,33.000.167/0001-01,2021-12-31,PETROLEO BRASILEIRO S.A. PETROBRAS,1.01.02.01,Aplicações Financeiras Avaliadas a Valor Justo...,0.00

In [ ]:
bpa_petro = bpa_2021[bpa_2021['CNPJ_CIA'] == '33.000.167/0001-01']

In [ ]:
bpa_petro = bpa_petro[['CD_CONTA','DS_CONTA','VL_CONTA']]
bpa_petro.reset_index(inplace=True, drop=True)
bpa_petro[bpa_petro['CD_CONTA'].str.len() <= 7]

   CD_CONTA                        DS_CONTA       VL_CONTA
0         1                     Ativo Total 972,951,000.00
1      1.01                Ativo Circulante 168,247,000.00
2   1.01.01   Caixa e Equivalentes de Caixa  58,410,000.00
3   1.01.02          Aplicações Financeiras   3,630,000.00
9   1.01.03                Contas a Receber  35,538,000.00
12  1.01.04                        Estoques  40,486,000.00
13  1.01.05               Ativos Biológicos           0.00
14  1.01.06            Tributos a Recuperar   7,511,000.00
18  1.01.07            Despesas Antecipadas           0.00
19  1.01.08       Outros Ativos Circulantes  22,672,000.00
26     1.02            Ativo Não Circulante 804,704,000.00
27  1.02.01  Ativo Realizável a Longo Prazo  79,992,000.00
51  1.02.02                   Investimentos   8,427,000.00
57  1.02.03                     Imobilizado 699,406,000.00
61  1.02.04                      Intangível  16,879,000.00

Reduzir as contas

# Exemplos

1. Obter DataFrame (Tabela) com as empresas e o valor dos 10 maiores ativos totais

![image.png]()

In [ ]:
df_ativo_total = bpa_2021[bpa_2021['CD_CONTA'] == '1']

In [ ]:
df_ativo_total = df_ativo_total.sort_values('VL_CONTA', ascending=False).head(10)

In [ ]:
df_ativo_total = df_ativo_total.pivot(index='DENOM_CIA', columns='DS_CONTA', values='VL_CONTA')

In [ ]:
df_ativo_total = df_ativo_total.sort_values('Ativo Total', ascending=False)

In [ ]:
df_ativo_total.reset_index(inplace=True)

In [ ]:
df_ativo_total.columns = ['Empresas','Ativos']
df_ativo_total

                             Empresas           Ativos
0           VIVARA PARTICIPAÇÕES S.A. 2,563,868,834.00
1          ITAU UNIBANCO HOLDING S.A. 2,069,206,000.00
2                     BCO BRASIL S.A. 1,899,340,511.00
3                   BCO BRADESCO S.A. 1,675,572,193.00
4  PETROLEO BRASILEIRO S.A. PETROBRAS   972,951,000.00
5         BCO SANTANDER (BRASIL) S.A.   931,208,396.00
6     PETTENATI S.A. INDUSTRIA TEXTIL   722,286,755.00
7                           VALE S.A.   499,128,000.00
8   METISA METALURGICA TIMBOENSE S.A.   467,874,465.00
9                            JBS S.A.   207,109,116.00

2. Obter DataFrame (Tabela) com as empresas e o valor dos 10 maiores Passivos Totais

![image.png]()

In [ ]:
bpp_2021 = pd.read_csv(pasta_drive+'/dfp/dfp_cia_aberta_BPP_con_2021.csv', sep=';', encoding='ISO-8859-9', decimal=',')

In [ ]:
bpp_2021.head()

,CNPJ_CIA,DT_REFER,VERSAO,DENOM_CIA,CD_CVM,GRUPO_DFP,MOEDA,ESCALA_MOEDA,ORDEM_EXERC,DT_FIM_EXERC,CD_CONTA,DS_CONTA,VL_CONTA,ST_CONTA_FIXA
0,00.000.000/0001-91,2021-12-31,2,BCO BRASIL S.A.,1023,DF Consolidado - Balanço Patrimonial Passivo,REAL,MIL,PENÚLTIMO,2020-12-31,2,Passivo Total,1693794003.0000000000,S
1,00.000.000/0001-91,2021-12-31,2,BCO BRASIL S.A.,1023,DF Consolidado - Balanço Patrimonial Passivo,REAL,MIL,ÚLTIMO,2021-12-31,2,Passivo Total,1899340511.0000000000,S
2,00.000.000/0001-91,2021-12-31,2,BCO BRASIL S.A.,1023,DF Consolidado - Balanço Patrimonial Passivo,REAL,MIL,PENÚLTIMO,2020-12-31,2.01,Passivos Financeiros Avaliados ao Valor Justo ...,3098315.0000000000,S
3,00.000.000/0001-91,2021-12-31,2,BCO BRASIL S.A.,1023,DF Consolidado - Balanço Patrimonial Passivo,REAL,MIL,ÚLTIMO,2021-12-31,2.01,Passivos Financeiros Avaliados ao Valor Justo ...,2053161.0000000000,S
4,00.000.000/0001-91,2021-12-31,2,BCO BRASIL S.A.,1023,DF Consolidado - Balanço Patrimonial Passivo,REAL,MIL,PENÚLTIMO,2020-12-31,2.02,Passivos Financeiros ao Custo Amortizado,1500172488.0000000000,S

In [ ]:
bpp_2021 = bpp_2021[bpp_2021['ORDEM_EXERC'].isin(['ÚLTIMO'])]

In [ ]:
bpp_2021 = bpp_2021[['CNPJ_CIA','DT_REFER','DENOM_CIA','CD_CONTA','DS_CONTA','VL_CONTA']]

In [ ]:
bpp_2021['VL_CONTA'] = pd.to_numeric(bpp_2021['VL_CONTA'])

In [ ]:
bpp_2021.head()

,CNPJ_CIA,DT_REFER,DENOM_CIA,CD_CONTA,DS_CONTA,VL_CONTA
1,00.000.000/0001-91,2021-12-31,BCO BRASIL S.A.,2,Passivo Total,"1,899,340,511.00"
3,00.000.000/0001-91,2021-12-31,BCO BRASIL S.A.,2.01,Passivos Financeiros Avaliados ao Valor Justo ...,"2,053,161.00"
5,00.000.000/0001-91,2021-12-31,BCO BRASIL S.A.,2.02,Passivos Financeiros ao Custo Amortizado,"1,679,166,834.00"
7,00.000.000/0001-91,2021-12-31,BCO BRASIL S.A.,2.02.01,Depósitos,"671,269,541.00"
9,00.000.000/0001-91,2021-12-31,BCO BRASIL S.A.,2.02.02,Captações no Mercado Aberto,"621,836,755.00"

In [ ]:
bpp_2021 = bpp_2021[bpp_2021['DS_CONTA'] == 'Passivo Total']

bpp_2021 = bpp_2021.sort_values('VL_CONTA', ascending=False).head(10)

bpp_2021 = bpp_2021.pivot(index='DENOM_CIA', columns='DS_CONTA', values='VL_CONTA')

bpp_2021 = bpp_2021.sort_values('Passivo Total', ascending=False)

bpp_2021.reset_index(inplace=True)

# bpp_2021.columns = ['Empresas', 'Passivos']

bpp_2021

DS_CONTA                           DENOM_CIA    Passivo Total
0                  VIVARA PARTICIPAÇÕES S.A. 2,563,868,834.00
1                 ITAU UNIBANCO HOLDING S.A. 2,069,206,000.00
2                            BCO BRASIL S.A. 1,899,340,511.00
3                          BCO BRADESCO S.A. 1,675,572,193.00
4         PETROLEO BRASILEIRO S.A. PETROBRAS   972,951,000.00
5                BCO SANTANDER (BRASIL) S.A.   931,208,396.00
6            PETTENATI S.A. INDUSTRIA TEXTIL   722,286,755.00
7                                  VALE S.A.   499,128,000.00
8          METISA METALURGICA TIMBOENSE S.A.   467,874,465.00
9                                   JBS S.A.   207,109,116.00

In [ ]:
bpp_2021.columns = ['Empresas', 'Passivos']

In [ ]:
bpp_2021

                             Empresas         Passivos
0           VIVARA PARTICIPAÇÕES S.A. 2,563,868,834.00
1          ITAU UNIBANCO HOLDING S.A. 2,069,206,000.00
2                     BCO BRASIL S.A. 1,899,340,511.00
3                   BCO BRADESCO S.A. 1,675,572,193.00
4  PETROLEO BRASILEIRO S.A. PETROBRAS   972,951,000.00
5         BCO SANTANDER (BRASIL) S.A.   931,208,396.00
6     PETTENATI S.A. INDUSTRIA TEXTIL   722,286,755.00
7                           VALE S.A.   499,128,000.00
8   METISA METALURGICA TIMBOENSE S.A.   467,874,465.00
9                            JBS S.A.   207,109,116.00

In [ ]:
dre_2021 = pd.read_csv(pasta_drive+'/dfp/dfp_cia_aberta_DRE_con_2021.csv', sep=';', encoding='ISO-8859-9', decimal=',')

In [ ]:
dre_2021 = dre_2021[dre_2021['CNPJ_CIA'] == '33.000.167/0001-01']

In [ ]:
dre_2021.head()

# Receita de Venda de Bens e/ou Serviços
# Resultado Bruto
# Lucro Liquido

,CNPJ_CIA,DT_REFER,VERSAO,DENOM_CIA,CD_CVM,GRUPO_DFP,MOEDA,ESCALA_MOEDA,ORDEM_EXERC,DT_INI_EXERC,DT_FIM_EXERC,CD_CONTA,DS_CONTA,VL_CONTA,ST_CONTA_FIXA
18648,33.000.167/0001-01,2021-12-31,1,PETROLEO BRASILEIRO S.A. PETROBRAS,9512,DF Consolidado - Demonstração do Resultado,REAL,MIL,PENÚLTIMO,2020-01-01,2020-12-31,3.01,Receita de Venda de Bens e/ou Serviços,272069000.0000000000,S
18649,33.000.167/0001-01,2021-12-31,1,PETROLEO BRASILEIRO S.A. PETROBRAS,9512,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2021-01-01,2021-12-31,3.01,Receita de Venda de Bens e/ou Serviços,452668000.0000000000,S
18650,33.000.167/0001-01,2021-12-31,1,PETROLEO BRASILEIRO S.A. PETROBRAS,9512,DF Consolidado - Demonstração do Resultado,REAL,MIL,PENÚLTIMO,2020-01-01,2020-12-31,3.02,Custo dos Bens e/ou Serviços Vendidos,-148107000.0000000000,S
18651,33.000.167/0001-01,2021-12-31,1,PETROLEO BRASILEIRO S.A. PETROBRAS,9512,DF Consolidado - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2021-01-01,2021-12-31,3.02,Custo dos Bens e/ou Serviços Vendidos,-233031000.0000000000,S
18652,33.000.167/0001-01,2021-12-31,1,PETROLEO BRASILEIRO S.A. PETROBRAS,9512,DF Consolidado - Demonstração do Resultado,REAL,MIL,PENÚLTIMO,2020-01-01,2020-12-31,3.03,Resultado Bruto,123962000.0000000000,S