<a href="https://colab.research.google.com/github/VendedeTudo/App/blob/main/08_An%C3%A1lise_Vertical.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Definir a quantidade de linhas e colunas apresentadas no DF
pd.set_option("display.max_rows", 500)
pd.set_option('display.max_columns', 500)

# Definir formatação do float
pd.set_option('float_format','{:,.2f}'.format)

import warnings
warnings.filterwarnings('ignore')

In [ ]:
# pasta onde estão os arquivos (.csv) das demonstrações
pasta_drive = '/content/drive/MyDrive/MiniCurso - Python/Pratica/dados'

In [ ]:
setor = pd.read_csv('/content/drive/MyDrive/MiniCurso - Python/Pratica/Aula 04 - Analise Vertical, Horizontal e Indicadores/setor.csv')
setor.head()

,SETOR ECONÔMICO,SUBSETOR,SEGMENTO,LISTAGEM,EMPRESA,CNPJ
0,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",RRRP,3R PETROLEUM,12.091.809/0001-55
1,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",CSAN,COSAN,NaN
2,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",DMMO,DOMMO,08.926.302/0001-05
3,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",ENAT,ENAUTA PART,11.669.021/0001-10
4,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",RPMG,PET MANGUINH,NaN

In [ ]:
# remover linha sem dados
setor_cnpj = setor.dropna()

In [ ]:
setor_cnpj.head()

,SETOR ECONÔMICO,SUBSETOR,SEGMENTO,LISTAGEM,EMPRESA,CNPJ
0,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",RRRP,3R PETROLEUM,12.091.809/0001-55
2,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",DMMO,DOMMO,08.926.302/0001-05
3,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",ENAT,ENAUTA PART,11.669.021/0001-10
9,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",VBBR,VIBRA,34.274.233/0001-02
12,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",OPCT,OCEANPACT,09.114.805/0001-30

In [ ]:
# retorna valores não duplicados
lista = setor_cnpj['SEGMENTO'].unique()

# Ordenação de listas
lista.sort()
lista

array(['Agricultura', 'Alimentos', 'Automóveis e Motocicletas',
       'Açucar e Alcool', 'Bancos', 'Bicicletas',
       'Computadores e Equipamentos', 'Eletrodomésticos', 'Embalagens',
       'Energia Elétrica', 'Equipamentos', 'Exploração de Imóveis',
       'Exploração, Refino e Distribuição',
       'Gestão de Recursos e Investimentos', 'Gás',
       'Holdings Diversificadas', 'Hotelaria', 'Incorporações', 'Madeira',
       'Material de Transporte', 'Medicamentos e Outros Produtos',
       'Motores, Compressores e Outros', 'Outros', 'Petroquímicos',
       'Produtos para Construção',
       'Produção e Difusão de Filmes e Programas', 'Programas e Serviços',
       'Securitizadoras de Recebíveis', 'Seguradoras',
       'Serviços Diversos', 'Serviços Educacionais',
       'Serviços Médico - Hospitalares, Análises e Diagnósticos',
       'Siderurgia', 'Tecidos, Vestuário e Calçados', 'Telecomunicações',
       'Transporte Aéreo', 'Água e Saneamento'], dtype=object)

In [ ]:
# Filtrar dados por coluna (SEGMENTO)
setor_cnpj[setor_cnpj['SEGMENTO'] == 'Serviços Educacionais']

,SETOR ECONÔMICO,SUBSETOR,SEGMENTO,LISTAGEM,EMPRESA,CNPJ
267,Consumo Cíclico,Diversos,Serviços Educacionais,SMFT,Serviços Educacionais,03.818.379/0001-30
268,Consumo Cíclico,Diversos,Serviços Educacionais,ANIM,ANIMA,09.288.252/0001-32
272,Consumo Cíclico,Diversos,Serviços Educacionais,SEER,SER EDUCA,04.986.320/0001-13
273,Consumo Cíclico,Diversos,Serviços Educacionais,YDUQ,YDUQS PART,08.807.432/0001-10
278,Consumo Cíclico,Diversos,Serviços Educacionais,MOVI,MOVIDA,07.976.147/0001-60
280,Consumo Cíclico,Diversos,Serviços Educacionais,VAMO,VAMOS,23.373.000/0001-32

In [ ]:
# Ler informações de arquivo (.csv) específico
bpa = pd.read_csv(pasta_drive+'/dfp_cia_aberta_BPA_con_2021.csv', sep=';', encoding='ISO-8859-9', decimal=',')

# Filtrar informações da coluna ORDEM_EXERC == ÚLTIMO
bpa = bpa[bpa['ORDEM_EXERC'] == 'ÚLTIMO']
bpa.head()

,CNPJ_CIA,DT_REFER,VERSAO,DENOM_CIA,CD_CVM,GRUPO_DFP,MOEDA,ESCALA_MOEDA,ORDEM_EXERC,DT_FIM_EXERC,CD_CONTA,DS_CONTA,VL_CONTA,ST_CONTA_FIXA
1,00.000.000/0001-91,2021-12-31,2,BCO BRASIL S.A.,1023,DF Consolidado - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2021-12-31,1,Ativo Total,1899340511.0000000000,S
3,00.000.000/0001-91,2021-12-31,2,BCO BRASIL S.A.,1023,DF Consolidado - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2021-12-31,1.01,Caixa e Equivalentes de Caixa,54494681.0000000000,S
5,00.000.000/0001-91,2021-12-31,2,BCO BRASIL S.A.,1023,DF Consolidado - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2021-12-31,1.01.01,Caixa,18023001.0000000000,S
7,00.000.000/0001-91,2021-12-31,2,BCO BRASIL S.A.,1023,DF Consolidado - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2021-12-31,1.01.02,Aplicações de Liquidez,36471680.0000000000,S
9,00.000.000/0001-91,2021-12-31,2,BCO BRASIL S.A.,1023,DF Consolidado - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2021-12-31,1.02,Ativos Financeiros,1700800619.0000000000,S

# Criar Dataframe para Análise Vertical para deteminada empresa

In [ ]:
# Filtrar empresa por CNPJ
bpa_seer = bpa[ bpa['CNPJ_CIA'] == '04.986.320/0001-13']

# Filtrar apenas as colunas que serão utilizadas
bpa_seer = bpa_seer[['CD_CONTA','DS_CONTA','VL_CONTA']]

# Converter valores numéricos
bpa_seer['VL_CONTA'] = pd.to_numeric(bpa_seer['VL_CONTA'])

# Reduzir as contas
bpa_seer = bpa_seer[bpa_seer['CD_CONTA'].str.len() <= 7]

# Reiniciar os indices
bpa_seer.reset_index(inplace=True, drop=True)

# Obter o Ativo Total
ativo = bpa_seer.loc[0]['VL_CONTA']

# Criar coluna (%)
bpa_seer['%'] = bpa_seer['VL_CONTA'] / ativo * 100

bpa_seer

   CD_CONTA                        DS_CONTA     VL_CONTA      %
0         1                     Ativo Total 3,092,589.00 100.00
1      1.01                Ativo Circulante   717,202.00  23.19
2   1.01.01   Caixa e Equivalentes de Caixa   213,704.00   6.91
3   1.01.02          Aplicações Financeiras    77,360.00   2.50
4   1.01.03                Contas a Receber   383,031.00  12.39
5   1.01.04                        Estoques         0.00   0.00
6   1.01.05               Ativos Biológicos         0.00   0.00
7   1.01.06            Tributos a Recuperar    22,422.00   0.73
8   1.01.07            Despesas Antecipadas         0.00   0.00
9   1.01.08       Outros Ativos Circulantes    20,685.00   0.67
10     1.02            Ativo Não Circulante 2,375,387.00  76.81
11  1.02.01  Ativo Realizável a Longo Prazo   303,738.00   9.82
12  1.02.02                   Investimentos         0.00   0.00
13  1.02.03                     Imobilizado 1,008,205.00  32.60
14  1.02.04                      Intangível 1,063,444.00  34.39

# Criar DataFrame para análises verticais para 3 anos - 2019/2020/2021

## Utilizando Concat

In [ ]:
bpa_seer_varios_anos = pd.DataFrame()

for ano in range(2019,2022):
  # # Ler informações de arquivo (.csv) específico
  bpa = pd.read_csv(pasta_drive+f'/dfp_cia_aberta_BPA_con_{ano}.csv', sep=';', encoding='ISO-8859-9', decimal=',')

  # # Filtrar informações da coluna ORDEM_EXERC == ÚLTIMO
  bpa = bpa[bpa['ORDEM_EXERC'] == 'ÚLTIMO']

  # # Filtrar empresa por CNPJ
  bpa_seer = bpa[ bpa['CNPJ_CIA'] == '04.986.320/0001-13']

  # # Filtrar apenas as colunas que serão utilizadas
  bpa_seer = bpa_seer[['DT_REFER','CD_CONTA','DS_CONTA','VL_CONTA']]

  # # Converter valores numéricos
  bpa_seer['VL_CONTA'] = pd.to_numeric(bpa_seer['VL_CONTA'])

  # # Reduzir as contas
  bpa_seer = bpa_seer[bpa_seer['CD_CONTA'].str.len() <= 7]

  # # Reiniciar os indices
  bpa_seer.reset_index(inplace=True, drop=True)

  # # Obter o Ativo Total
  ativo = bpa_seer.loc[0]['VL_CONTA']

  # # Criar coluna (%)
  # bpa_seer['%'] = bpa_seer['VL_CONTA'] / ativo * 100

  # transformação dos indices, colunas e linhas
  bpa_seer = bpa_seer.pivot(index=['CD_CONTA','DS_CONTA'], columns='DT_REFER', values='VL_CONTA')

  # criar (%) com iloc (valores de indices das colunas)
  bpa_seer['%'] = bpa_seer.iloc[:,0:] / ativo * 100

  # Agrupamento por colunas
  bpa_seer_varios_anos = pd.concat([bpa_seer_varios_anos, bpa_seer], axis=1)
  # display(bpa_seer.head())
  # break
bpa_seer_varios_anos

,DT_REFER,2019-12-31,%,2020-12-31,%,2021-12-31,%
CD_CONTA,DS_CONTA,,,,,,
1,Ativo Total,"2,559,156.00",100.00,"3,091,485.00",100.00,"3,092,589.00",100.00
1.01,Ativo Circulante,"644,545.00",25.19,"1,082,299.00",35.01,"717,202.00",23.19
1.01.01,Caixa e Equivalentes de Caixa,"215,173.00",8.41,"679,933.00",21.99,"213,704.00",6.91
1.01.02,Aplicações Financeiras,"91,290.00",3.57,"1,176.00",0.04,"77,360.00",2.50
1.01.03,Contas a Receber,"286,967.00",11.21,"363,718.00",11.77,"383,031.00",12.39
1.01.04,Estoques,0.00,0.00,0.00,0.00,0.00,0.00
1.01.05,Ativos Biológicos,0.00,0.00,0.00,0.00,0.00,0.00
1.01.06,Tributos a Recuperar,"13,917.00",0.54,"12,556.00",0.41,"22,422.00",0.73
1.01.07,Despesas Antecipadas,0.00,0.00,0.00,0.00,0.00,0.00
1.01.08,Outros Ativos Circulantes,"37,198.00",1.45,"24,916.00",0.81,"20,685.00",0.67
1.02,Ativo Não Circulante,"1,914,611.00",74.81,"2,009,186.00",64.99,"2,375,387.00",76.81
1.02.01,Ativo Realizável a Longo Prazo,"227,438.00",8.89,"268,625.00",8.69,"303,738.00",9.82
1.02.02,Investimentos,0.00,0.00,0.00,0.00,0.00,0.00
1.02.03,Imobilizado,"1,126,527.00",44.02,"1,023,826.00",33.12,"1,008,205.00",32.60
1.02.04,Intangível,"560,646.00",21.91,"716,735.00",23.18,"1,063,444.00",34.39

In [ ]:
bpa_seer_varios_anos.reset_index(inplace=True)

In [ ]:
bpa_seer_varios_anos

DT_REFER,CD_CONTA,DS_CONTA,2019-12-31,%,2020-12-31,%,2021-12-31,%
0,1,Ativo Total,"2,559,156.00",100.00,"3,091,485.00",100.00,"3,092,589.00",100.00
1,1.01,Ativo Circulante,"644,545.00",25.19,"1,082,299.00",35.01,"717,202.00",23.19
2,1.01.01,Caixa e Equivalentes de Caixa,"215,173.00",8.41,"679,933.00",21.99,"213,704.00",6.91
3,1.01.02,Aplicações Financeiras,"91,290.00",3.57,"1,176.00",0.04,"77,360.00",2.50
4,1.01.03,Contas a Receber,"286,967.00",11.21,"363,718.00",11.77,"383,031.00",12.39
5,1.01.04,Estoques,0.00,0.00,0.00,0.00,0.00,0.00
6,1.01.05,Ativos Biológicos,0.00,0.00,0.00,0.00,0.00,0.00
7,1.01.06,Tributos a Recuperar,"13,917.00",0.54,"12,556.00",0.41,"22,422.00",0.73
8,1.01.07,Despesas Antecipadas,0.00,0.00,0.00,0.00,0.00,0.00
9,1.01.08,Outros Ativos Circulantes,"37,198.00",1.45,"24,916.00",0.81,"20,685.00",0.67
10,1.02,Ativo Não Circulante,"1,914,611.00",74.81,"2,009,186.00",64.99,"2,375,387.00",76.81
11,1.02.01,Ativo Realizável a Longo Prazo,"227,438.00",8.89,"268,625.00",8.69,"303,738.00",9.82
12,1.02.02,Investimentos,0.00,0.00,0.00,0.00,0.00,0.00
13,1.02.03,Imobilizado,"1,126,527.00",44.02,"1,023,826.00",33.12,"1,008,205.00",32.60
14,1.02.04,Intangível,"560,646.00",21.91,"716,735.00",23.18,"1,063,444.00",34.39

## Exercícios

1. Crie um DataFrame com a análise vertical de uma determinada empresa utilizando os dados do Balanço Patrimonial dos Passivos e da Demonstração do Resultado Exercícios do ano de 2021.

**Dica**: Os arquivos utilizados na importação dos dados serão: *dfp_cia_aberta_BPP_con_2021.csv* e *dfp_cia_aberta_DRE_con_2021.csv*.