<a href="https://colab.research.google.com/github/VendedeTudo/App/blob/main/09_An%C3%A1lise_Horizontal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Definir a quantidade de linhas e colunas apresentadas no DF
pd.set_option("display.max_rows", 500)
pd.set_option('display.max_columns', 500)

# Definir formatação do float
pd.set_option('float_format','{:,.2f}'.format)

import warnings
warnings.filterwarnings('ignore')

In [ ]:
pasta_drive = '/content/drive/MyDrive/MiniCurso - Python/Pratica/dados/'

In [ ]:
setor = pd.read_csv('/content/drive/MyDrive/MiniCurso - Python/Pratica/Aula 04 - Analise Vertical, Horizontal e Indicadores/setor.csv')
setor.head()

,SETOR ECONÔMICO,SUBSETOR,SEGMENTO,LISTAGEM,EMPRESA,CNPJ
0,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",RRRP,3R PETROLEUM,12.091.809/0001-55
1,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",CSAN,COSAN,NaN
2,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",DMMO,DOMMO,08.926.302/0001-05
3,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",ENAT,ENAUTA PART,11.669.021/0001-10
4,"Petróleo, Gás e Biocombustíveis","Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",RPMG,PET MANGUINH,NaN

In [ ]:
setor_cnpj = setor.dropna()

In [ ]:
lista_segmentos = setor_cnpj['SEGMENTO'].unique()

In [ ]:
lista_segmentos.sort()
lista_segmentos

array(['Agricultura', 'Alimentos', 'Automóveis e Motocicletas',
       'Açucar e Alcool', 'Bancos', 'Bicicletas',
       'Computadores e Equipamentos', 'Eletrodomésticos', 'Embalagens',
       'Energia Elétrica', 'Equipamentos', 'Exploração de Imóveis',
       'Exploração, Refino e Distribuição',
       'Gestão de Recursos e Investimentos', 'Gás',
       'Holdings Diversificadas', 'Hotelaria', 'Incorporações', 'Madeira',
       'Material de Transporte', 'Medicamentos e Outros Produtos',
       'Motores, Compressores e Outros', 'Outros', 'Petroquímicos',
       'Produtos para Construção',
       'Produção e Difusão de Filmes e Programas', 'Programas e Serviços',
       'Securitizadoras de Recebíveis', 'Seguradoras',
       'Serviços Diversos', 'Serviços Educacionais',
       'Serviços Médico - Hospitalares, Análises e Diagnósticos',
       'Siderurgia', 'Tecidos, Vestuário e Calçados', 'Telecomunicações',
       'Transporte Aéreo', 'Água e Saneamento'], dtype=object)

In [ ]:
setor_cnpj[ setor_cnpj['SEGMENTO'] == 'Energia Elétrica']

,SETOR ECONÔMICO,SUBSETOR,SEGMENTO,LISTAGEM,EMPRESA,CNPJ
367,Utilidade Pública,Energia Elétrica,Energia Elétrica,AESB,AES BRASIL,00.194.724/0001-13
371,Utilidade Pública,Energia Elétrica,Energia Elétrica,ALUP,ALUPAR,08.364.948/0001-38
373,Utilidade Pública,Energia Elétrica,Energia Elétrica,AURE,AUREN,28.594.234/0001-23
374,Utilidade Pública,Energia Elétrica,Energia Elétrica,CPTE,CACHOEIRA,05.336.882/0001-84
377,Utilidade Pública,Energia Elétrica,Energia Elétrica,EEEL,CEEE-T,92.715.812/0001-31
386,Utilidade Pública,Energia Elétrica,Energia Elétrica,COMR,COMERC PAR,25.369.840/0001-57
389,Utilidade Pública,Energia Elétrica,Energia Elétrica,CPFE,CPFL ENERGIA,02.429.144/0001-93
390,Utilidade Pública,Energia Elétrica,Energia Elétrica,CPFG,CPFL GERACAO,03.953.509/0001-47
402,Utilidade Pública,Energia Elétrica,Energia Elétrica,ENEV,ENEVA,04.423.567/0001-21
403,Utilidade Pública,Energia Elétrica,Energia Elétrica,EGIE,ENGIE BRASIL,02.474.103/0001-19
417,Utilidade Pública,Energia Elétrica,Energia Elétrica,REDE,REDE ENERGIA,61.584.140/0001-49
419,Utilidade Pública,Energia Elétrica,Energia Elétrica,STKF,STATKRAFT,00.622.416/0001-41

In [ ]:
bpa_engie_varios_anos = pd.DataFrame()

for ano in range(2021,2022):
  # Ler informações de arquivo (.csv) específico
  bpa = pd.read_csv(pasta_drive+f'/dfp_cia_aberta_BPA_con_{ano}.csv', sep=';', encoding='ISO-8859-9', decimal=',')

  # Filtrar informações da coluna ORDEM_EXERC == ÚLTIMO
  bpa = bpa[bpa['ORDEM_EXERC'] == 'ÚLTIMO']
  bpa.head()

  # Filtrar empresa por CNPJ
  bpa_engie = bpa[ bpa['CNPJ_CIA'] == '02.474.103/0001-19']

  # Filtrar apenas as colunas que serão utilizadas
  bpa_engie = bpa_engie[['DT_REFER','CD_CONTA','DS_CONTA','VL_CONTA']]

  # Converter valores numéricos
  bpa_engie['VL_CONTA'] = pd.to_numeric(bpa_engie['VL_CONTA'])

  # Converter datas
  bpa_engie['DT_REFER'] = pd.to_datetime(bpa_engie['DT_REFER'])

  # Criar coluna ANO
  bpa_engie['ANO'] = bpa_engie['DT_REFER'].dt.year

  # Reduzir as contas
  bpa_engie = bpa_engie[bpa_engie['CD_CONTA'].str.len() <= 7]

  # Reiniciar os indices
  bpa_engie.reset_index(inplace=True, drop=True)

  # Agrupamento em linhas
  bpa_engie_varios_anos = pd.concat([bpa_engie_varios_anos, bpa_engie])

bpa_engie_varios_anos = bpa_engie_varios_anos.pivot(index=['CD_CONTA','DS_CONTA'], columns='ANO', values='VL_CONTA')
bpa_engie_varios_anos

,ANO,2019,2020,2021
CD_CONTA,DS_CONTA,,,
1,Ativo Total,"30,135,578.00","35,186,248.00","38,115,725.00"
1.01,Ativo Circulante,"6,745,671.00","7,733,297.00","8,517,934.00"
1.01.01,Caixa e Equivalentes de Caixa,"3,870,261.00","4,538,946.00","5,156,406.00"
1.01.02,Aplicações Financeiras,0.00,0.00,0.00
1.01.03,Contas a Receber,"1,451,227.00","1,755,601.00","1,114,105.00"
1.01.04,Estoques,"220,964.00","189,428.00","151,146.00"
1.01.05,Ativos Biológicos,0.00,0.00,0.00
1.01.06,Tributos a Recuperar,"166,833.00","140,785.00","248,324.00"
1.01.07,Despesas Antecipadas,0.00,0.00,0.00
1.01.08,Outros Ativos Circulantes,"1,036,386.00","1,108,537.00","1,847,953.00"
1.02,Ativo Não Circulante,"23,389,907.00","27,452,951.00","29,597,791.00"
1.02.01,Ativo Realizável a Longo Prazo,"3,814,007.00","6,976,062.00","8,814,140.00"
1.02.02,Investimentos,"2,948,920.00","2,425,062.00","2,366,708.00"
1.02.03,Imobilizado,"15,330,211.00","15,537,837.00","14,378,787.00"
1.02.04,Intangível,"1,296,769.00","2,513,990.00","4,038,156.00"

In [ ]:
bpa_engie_varios_anos['2019-2020'] = (bpa_engie_varios_anos[2020] / bpa_engie_varios_anos[2019] - 1) * 100
bpa_engie_varios_anos['2020-2021'] = (bpa_engie_varios_anos[2021] / bpa_engie_varios_anos[2020] - 1) * 100

In [ ]:
bpa_engie_varios_anos

,ANO,2019,2020,2021,2019-2020,2020-2021
CD_CONTA,DS_CONTA,,,,,
1,Ativo Total,"30,135,578.00","35,186,248.00","38,115,725.00",16.76,8.33
1.01,Ativo Circulante,"6,745,671.00","7,733,297.00","8,517,934.00",14.64,10.15
1.01.01,Caixa e Equivalentes de Caixa,"3,870,261.00","4,538,946.00","5,156,406.00",17.28,13.60
1.01.02,Aplicações Financeiras,0.00,0.00,0.00,NaN,NaN
1.01.03,Contas a Receber,"1,451,227.00","1,755,601.00","1,114,105.00",20.97,-36.54
1.01.04,Estoques,"220,964.00","189,428.00","151,146.00",-14.27,-20.21
1.01.05,Ativos Biológicos,0.00,0.00,0.00,NaN,NaN
1.01.06,Tributos a Recuperar,"166,833.00","140,785.00","248,324.00",-15.61,76.39
1.01.07,Despesas Antecipadas,0.00,0.00,0.00,NaN,NaN
1.01.08,Outros Ativos Circulantes,"1,036,386.00","1,108,537.00","1,847,953.00",6.96,66.70
1.02,Ativo Não Circulante,"23,389,907.00","27,452,951.00","29,597,791.00",17.37,7.81
1.02.01,Ativo Realizável a Longo Prazo,"3,814,007.00","6,976,062.00","8,814,140.00",82.91,26.35
1.02.02,Investimentos,"2,948,920.00","2,425,062.00","2,366,708.00",-17.76,-2.41
1.02.03,Imobilizado,"15,330,211.00","15,537,837.00","14,378,787.00",1.35,-7.46
1.02.04,Intangível,"1,296,769.00","2,513,990.00","4,038,156.00",93.87,60.63

# Criar Dataframe para Análise Horizontal para deteminada empresa ao longo de 3 anos

# Exercícios

1. Crie um DataFrame com a análise horizontal de uma determinada empresa utilizando os dados do Balanço Patrimonial dos Passivos e da Demonstração do Resultado Exercícios dos anos de 2019, 2020 e 2021.

**Dica**: Os arquivos utilizados na importação dos dados serão: *dfp_cia_aberta_BPP_con_2019.csv, dfp_cia_aberta_BPP_con_2020.csv, dfp_cia_aberta_BPP_con_2021.csv* e *dfp_cia_aberta_DRE_con_2019.csv, dfp_cia_aberta_DRE_con_2020.csv, dfp_cia_aberta_DRE_con_2021.csv*.